modules = ["nodejs-18", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
publicDir = "dist"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 43486346
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev -- --host 0.0.0.0 --port 5000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5000
externalPort = 443
